body {
    /*background: #ff9d80;*/
}

.container {
    /*display: grid;*/
    max-width: 700px;
    /*border: 2px solid black;*/
    /*position: relative;*/
    margin: auto;
    /*grid-gap: 0px;*/
    font-family: 'Merriweather', serif;
    /*background: #e4fff5;*/
}

/*
a, div {
    border: 1px solid black;
    margin: 10px 10px;
}
*/

#get-new-quote-btn {
    display: block;
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 100%;
    margin: 2em auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: hsl(117, 100%, 46%);
    color: hsl(0, 0%, 100%);
    /*border: 2px solid hsl(11, 100%, 100%);*/
}

#get-new-quote-btn:hover {
    background-color: hsl(116, 100%, 34%);
    color: hsl(0, 0%, 100%);
    /*border: 2px solid hsl(11, 100%, 100%);*/
    transition: background 0.7s;
}

.content {
    font-size: 20px;
    padding: 10px;
    background: hsl(0, 0%, 97%);
    border-radius: 5px;
}

#quote-title {
    text-align: right;
    margin: 1em;
}

.quote {
    padding: 0 10px;
    text-align: justify;
}