body {
    margin-bottom: 2em;
}

.container {
    max-width: 700px;
    margin: auto;
    font-family: 'Merriweather', serif;
}

#get-new-quote-btn {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 100%;
    margin: 1.8em auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: hsl(117, 100%, 46%);
    color: hsl(0, 0%, 100%);
    transition: background 0.5s;
}

#get-new-quote-btn:hover {
    background-color: hsl(116, 100%, 34%);
    color: hsl(0, 0%, 100%);
    transition: background 0.5s;
}

.content {
    font-size: 2em;
    display: grid;
    grid-template-areas: "left center right"
                         "title title title"
                         "twitter twitter twitter";
    grid-template-columns: 1fr 6fr 1fr;
    background: #F7F7F7;
    border-radius: 5px;
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
    text-align: justify;
}

.right {
    grid-area: right;
}

.title {
    grid-area: title;
    text-align: right;
    margin-right: 0.9em;
}

.twitter {
    grid-area: twitter;
    text-align: center;
    margin: 1.5em 0;
}

.fas.fa-pull-left, .fas.fa-pull-right {
    margin: 1em auto;
}

#tweet-btn {
    color: #419bd7;
}

#tweet-btn:hover {
    color: #387fb2;
}

@media screen and (max-width: 1024px) {
    #get-new-quote-btn {
        width: 200px;
        height: 200px;
        line-height: 200px;
        font-size: 20px;
    }
    .content {
        font-size: 1.5em;
    }
    .title {
        margin-right: 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .left, .right {
        visibility: hidden;
    }
}