body {
    /*background: #ff9d80;*/
    margin-bottom: 2em;
}

.container {
    /*display: grid;*/
    max-width: 700px;
    /*border: 2px solid black;*/
    /*position: relative;*/
    margin: auto;
    /*grid-gap: 0px;*/
    font-family: 'Merriweather', serif;
    /*background: #e4fff5;*/
}

/*
a, div {
    border: 1px solid black;
    margin: 10px 10px;
}
*/

#get-new-quote-btn {
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 100%;
    margin: 1.8em auto;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: hsl(117, 100%, 46%);
    color: hsl(0, 0%, 100%);
    /*border: 2px solid hsl(11, 100%, 100%);*/
    transition: background 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
    #get-new-quote-btn {
        width: 200px;
        height: 200px;
        line-height: 200px;
        font-size: 20px;
    }
}



#get-new-quote-btn:hover {
    background-color: hsl(116, 100%, 34%);
    color: hsl(0, 0%, 100%);
    /*border: 2px solid hsl(11, 100%, 100%);*/
    transition: background 0.5s ease-in-out;
    transition-delay: 0s;
}

.content {
    font-size: 2em;
    display:grid;
    grid-template-areas: "left center right"
    "title title title"
    "twitter twitter twitter";
    grid-template-columns: 1fr 6fr 1fr;
    /*padding: 10px;*/
    background: hsl(0, 0%, 97%);
    border-radius: 5px;

}

@media screen and (max-width: 1024px) {
    .content {
        font-size: 1.5em;
    }
}

.left {
    grid-area: left;
}

.center {
    grid-area: center;
    text-align: justify;

}

.right {
    grid-area: right;
}

.title {
    grid-area: title;
    text-align: right;
    margin-right: 0.9em;
}

@media screen and (max-width: 1024px) {
    .title {
        margin-right: 1.5em;
    }
}

.twitter {
    grid-area: twitter;
    text-align: center;
    margin: 1.5em 0;
}



/*.left, .fas, .fa-quote-left, .fa-lg, .fa-pull-left {
    line-height: 1em;
}*/

.fas.fa-pull-left, .fas.fa-pull-right {
    margin: 1em auto;
}

@media screen and (max-width: 500px) {
    .left, .right {
        visibility: hidden;
    }
}

/*
#quote-title {
    text-align: right;
    margin: 1em;
}
*/
/*
.quote {
    display: block;
    padding: 0 10px;
    text-align: justify;
    float: left;
}
*/

/*
.title {
    display: block;
}
*/

#tweet-btn {
    /*display: block;*/
    /*text-align: right;*/
    /*margin: 1.5em 0;*/
    color: #419bd7;
}

#tweet-btn:hover {
    color: #387fb2;
}

/*.fa-twitter {
    color: #419bd7;

}*/

/*
button {
  background: none;
  border: none;
}
*/
